<!DOCTYPE html>
<html layout:decorate="~{global/usrLayout}">

<head>
    <title>장바구니</title>
    <!-- Tailwind CSS 링크를 추가해야 합니다 -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

<div layout:fragment="content">
    <h1 class="text-xl font-bold my-2 py-2 border-y-2 border-solid border-red-300 text-center">장바구니</h1>

    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
        <li class="card bg-white rounded-lg overflow-hidden shadow-lg" th:each="cartItem : ${cartItems}">
            <img th:if="${@productService.getProductImageUrl(cartItem.product.id)}"
                 th:src="@{${@productService.getProductImageUrl(cartItem.product.id)}}"
                 alt="Product Image" class="w-full h-64 object-cover mb-4">
            <div class="p-4">
                <th:block th:replace="domain/product/fragments/productListItemCard :: productListItemCard(${cartItem.product})"></th:block>
            </div>
        </li>
    </ul>

    <div class="flex justify-center mt-6 mb-4">
        <a href="/order/createFromCart" method="POST" class="btn bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-lg">
            <span class="text-lg">주문하기</span>
            <span class="block text-sm mt-2">총액 : <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}"></span>원</span>
        </a>
    </div>

</div>

</body>
</html>
