@charset "UTF-8";

/* 나눔고딕 웹 폰트 */
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/naver/nanumfont/NanumGothic/NanumGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/naver/nanumfont/NanumGothic/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/naver/nanumfont/NanumGothic/NanumGothic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/naver/nanumfont/NanumGothic/NanumGothic.ttf') format('truetype');
}

:root {
    --base-font-family: "NanumGothic", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--base-font-family);
    text-wrap: none;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dffaC5;
}

.container {
    flex: 1;
}

.navigation-bar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: gray;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem; /* 14px */
  font-weight: medium;
  border-radius: 0.375rem; /* 6px */
}

.nav-link:hover {
  color: black;
  text-decoration: none;
}