<!DOCTYPE html>
<html layout:decorate="~{global/usrLayout}">

<head>
    <title>홈</title>
    <link rel="stylesheet" href="/static/global.css">

    <!-- Toastr 라이브러리의 CSS 연결 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>

<body>
<div class="container" layout:fragment="content">
    <div class="main-heading">
        <h1>Goods Shop에 오신 것을 환영합니다</h1>
    </div>
</div>

<!-- Global JavaScript 파일 연결 -->
<script src="/static/global.js"></script>

<!-- Toastr 라이브러리의 JS 연결 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>
