<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE admin" th:text="${GoodShop_Admin}"></title>
</head>

<body>

<header layout:fragment="header">
    <nav class="navigation-bar">
        <a class="nav-link" href="/">홈</a>
        <a class="nav-link" href="/adm">관리자 홈</a>
        <a class="nav-link" href="/adm/withdraw/applyList">출금신청</a>
        <a class="nav-link" href="/adm/rebate/list">정산데이터</a>
        <a class="nav-link" href="/adm/rebate/make">정산데이터 생성</a>
        <a class="nav-link" href="/member/logout">로그아웃</a>
    </nav>
</header>

</body>

</html>